@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@700&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, button {
  background: #F4F7FF;
}

a, button {
  cursor: url("/assets/svg/Group.svg"), default;
}

button {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  border: none;
  -webkit-transition: all, ease-in-out .25s;
  transition: all, ease-in-out .25s;
}

button:hover {
  -webkit-transition: all, ease-in-out 0;
  transition: all, ease-in-out 0;
}

.header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header .dashboard-img {
  width: 100%;
  margin-top: 72px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(78, 90, 133, 0.2);
}

.head button {
  height: 56px;
  width: 94px;
  background-color: #98A6C7;
}

.head button:hover {
  background: #0059F7;
}

.intro {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.intro h1 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.03em;
  width: 456px;
  line-height: 80px;
}

.intro p {
  color: #7E8BB6;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.intro button {
  background-color: #0059F7;
  width: 188px;
  height: 56px;
  margin-top: 32px;
}

.intro button:hover {
  background: #0ca9e7;
}

.intro .price-plans {
  width: 400px;
}

.resourses {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(78, 90, 133, 0.1);
}

.main {
  max-width: 1280px;
  margin-top: 96px;
  padding-bottom: 132px;
  margin-left: auto;
  margin-right: auto;
}

.main h2 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #273464;
}

.main p {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #7E8BB6;
  max-width: 400px;
}

.features {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.features p {
  margin-top: 16px;
}

.opport {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opport .opport-item {
  max-width: 400px;
  padding: 32px;
  border: 1px solid rgba(204, 210, 233, 0.5);
  margin-bottom: 32px;
  -webkit-transition: all, ease-in-out .25s;
  transition: all, ease-in-out .25s;
}

.opport .opport-item:nth-child(odd) {
  margin-right: 40px;
}

.opport .opport-item:nth-child(n+5) {
  margin-bottom: 0px;
}

.opport .opport-item:hover {
  -webkit-transition: all, ease-in-out 0s;
  transition: all, ease-in-out 0s;
  cursor: url("/assets/svg/Group.svg"), default;
  border: 1px solid #fff;
  background: #fff;
}

.opport h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #070E27;
  margin-top: 32px;
}

.opport p {
  margin-top: 16px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #070E27;
  opacity: .5;
  max-width: 336px;
}

.start {
  background: #0059F7;
  border-radius: 24px;
  max-width: 840px;
  padding: 72px 110px;
  margin-top: 96px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start span {
  background: #0059F7;
}

.start .ready {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.start .trial {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -0.03em;
  color: white;
  margin-top: 16px;
}

.start button {
  margin-top: 32px;
  background: #689EFF;
  width: 178px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start button img {
  background: none;
  margin-left: 10px;
}

.start button:hover {
  background: #0ca9e7;
}

.saf {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #7E8BB6;
  margin-bottom: 8px;
}

.how-work {
  margin-top: 148px;
  max-width: 1094px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-main {
  margin-top: 96px;
}

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-item h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #273464;
  margin-bottom: 28px;
}

.pricing {
  margin-top: 172px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pricing-main {
  margin-top: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes goToTop {
  from {
    bottom: 0;
  }
  to {
    bottom: 81px;
    background: #162044;
    -webkit-box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
            box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
  }
}

@keyframes goToTop {
  from {
    bottom: 0;
  }
  to {
    bottom: 81px;
    background: #162044;
    -webkit-box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
            box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
  }
}

.tarif {
  border-radius: 16px;
  width: 400px;
  background: #081131;
  padding: 48px 106px 48px 48px;
  -webkit-box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
          box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
  position: relative;
}

.tarif:hover {
  cursor: url("/assets/svg/Group.svg"), default;
  -webkit-animation-name: goToTop;
          animation-name: goToTop;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.tarif:hover button {
  background: #0059F7;
}

.tarif:hover button:hover {
  background: #0ca9e7;
}

.tarif button {
  width: 178px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4E5A85;
  margin-top: 48px;
}

.tarif button img {
  background: none;
  margin-left: 10px;
}

.tarif-main {
  margin-top: 48px;
}

.tarif-main ul {
  list-style: none;
  text-align: left;
  color: #CCD2E9;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.tarif-main li {
  background: url("/assets/svg/Check Icon.svg") no-repeat 0 -1px;
  margin-bottom: 24px;
  padding-left: 36px;
}

.tarif-head {
  text-align-last: left;
  padding-bottom: 48px;
  border-bottom: 2px solid rgba(78, 90, 133, 0.16);
}

.tarif-head h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #7E8BB6;
  margin-bottom: 12px;
}

.tarif-head span {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  text-transform: uppercase;
  color: #F4F7FF;
}

.tarif-head .dollar {
  color: #4E5A85;
}

.second-start {
  margin-top: 172px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  padding: 50px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-start span {
  display: block;
}

.second-start .second-ready {
  font-size: 14px;
}

.second-start button {
  margin: 0;
}

.footer {
  background: #162044;
  padding: 48px 0;
}

.footer .footer-content {
  max-width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer span {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CCD2E9;
}

.footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .icons a {
  margin-right: 40px;
}

.footer .icons a:last-child {
  margin-right: 0;
}

.footer .privacy span:first-child {
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */